  <%= form_with model: [board, list],
        data: { controller: 'reset-form', action: 'turbo:submit-end->reset-form#reset' } do |form| %>
  
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
        <% list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mt-3">
    <%= form.label :name %>
    <%= form.text_field :name, required: true, class: "form-control", style:"width:25%" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary", 'data-reset-form-target': 'button'  %>
  </div>
<% end %>
