<%= turbo_stream_from @board %>

<%= turbo_frame_tag "board" do %>
  <%= render @board %>
<% end %>
<br>
<br>
<%# link_to 'Add New List', new_board_list_path(@board) %>
<%= turbo_frame_tag "new_list", src: new_board_list_path(@board), target: :_top %>
<hr> 
<!-- Lists container -->

<div data-controller="lists" data-lists-id="<%= @board.id %>">
  <section class="lists-container" data-lists-target="lists">
    <%= render @board.lists.sort_by(&:position) %>
  </section>
</div>
<!-- End of lists container -->
